.alert-container{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25%;
    height: fit-content;
    background-color: rgba(212, 212, 212, 0.794);
    z-index: 2;
    
    transition: 0.5s;
    padding: 15px;
    border-radius: 20px;
    
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7)
}

.alert-container .content {
    position: relative;
    display: grid;
    grid-template-columns: 30% 75%;
    align-items: center;
}


.alert-container .content .ava{
    width: 100%;
    display: flex;
}



.alert-container  .content .info{
    width: 100%;
}

.alert-container .close-container{
    position: absolute;
    top : 5px;
    right: 5px;
}